main {
  margin: 25px;
  min-width: 600px;

  .prod {
    margin: 2px;
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid rgba(151, 151, 151, 0.452);

    div {
      padding-right: 20px;
      min-width: 150px;
    }

    div:last-child {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: auto;

      input {
        background-color: lightgray;
        border: 1px solid rgb(151, 151, 151);
      }
    }

    img {
      margin: 10px;
      border: 1px solid lightgray;
    }

    h1 {
      font-size: 18px;
    }
  }

  #produtos {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 60px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #checkout {
    display: flex;
    flex-direction: row;

    #total-itens,
    #valor-total {
      display: flex;
      margin-left: 150px;
      justify-content: flex-end;

      font-weight: lighter;
    }

    #carrinho {
      background-color: lightgray;
      padding: 10px;
      padding-top: 30px;
      padding-bottom: 30px;
      flex-grow: 1;
      min-height: 25px;
    }

    #carrinho-valores {
      margin-left: 10px;

      tr {
        border-top: 2px solid lightgray;
      }
    }
  }
}
